@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #f9ae17; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #f9ae17, #ffc95d);
  background: -moz-linear-gradient(right, #f9ae17, #ffc95d);
  background: -o-linear-gradient(right, #f9ae17, #ffc95d);
  background: linear-gradient(to left, #f9ae17, #ffc95d);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}